/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #d4cbcb;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

section {
  padding: 2rem;
  text-align: center;
}

h2 {
  color: #333;
}

.destination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.destination-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem;
  max-width: 300px;
}

.destination-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label {
  margin-top: 0.5rem;
}

input,
textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

.social-media-links a {
  color: #fff;
  margin-left: 0.5rem;
}

